@font-face{
    font-family: "HardPixel";
    src: url(../Font/Hardpixel.ttf) format("ttf");
    font-weight: 500;
    font-style: normal;
}

body{
    margin: 0;
    padding: 0;

    background-image:url(../img/bg.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0;

    color: #000;
    font-family: "HardPixel", sans-serif;
}

.greeting{
    background-color: #feffff;
    opacity: 0.55;
    border: 11px solid #000;
}

.main-title{
    font-size: 50px;
    font-weight: 700;
    line-height: 20px;

    vertical-align: middle;
    text-align: center;
}

.greeting p,
.news p{
    font-size: 22px;
    font-weight: 500;
    line-height: 36px;
}

.news{
    background-color: #feffff;
    opacity: 0.55;
    border: 11px solid #000;
    /*Временно, пока не будут 
    вставлены pixel border*/
}

.news h3{
    font-size: 43px;
    line-height: 51px;
}

body{
    background-image: url(../img/Структура-не-заполненная.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0 ;

    height: 1080px;
    width: 2061px;
}

header{
    background-color: gold;
    height: 41px;

    margin-bottom: 51px;
}

main{
    height: 803px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    padding-left: 169px;
    padding-right: 168px;
}

.greeting{
    width: 1077px;
    height: 802px;
    background-color: #000; 

}

.news{
    width: 560px;
    height: 802px;
    background-color: #000;

}