@font-face{
    font-family: "HardPixel";
    src:url("../Font/Hardpixel.ttf") format("ttf"),
        url("../Font/Hardpixel.woff") format("woff"),
        url("../Font/Hardpixel.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}
html{
    height: 100%;
}

body{
    margin: 0;
    padding: 0;

    background-image:url("../img/bg.gif");
    background-size: 100%100%;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-attachment: fixed;

    max-height: 1440px;
    color: #000;
    font-family: "HardPixel", sans-serif;

    /* zoom: 0.65; */
}

.antistress{
    margin-left: 45%;
    padding-left: 10px;
    width: 250px;
    height: 35px;
    font-size: 18px;
    background-color: #7879b2;
    color: #fff;
    position: relative;
}

.antistress:hover{
    background-color: #ad5db6;
}

.container-section--wrapper{
    overflow-y: auto;
    height: 100%;
}

.container{
    height: 850px;
    display: flex;
    justify-content: space-evenly;

    padding-left: 169px;
    padding-right: 168px;
    margin-top: 25px;
}

.greeting{
    background-color: #feffff;
    opacity: 0.55;
    border-top: 11px solid black;
    border-bottom: 11px solid black;

    margin-right: 10px;
    width: 1000px;

    position: relative;
}

.main-title{
    font-size: 50px;
    font-weight: 200;
    line-height: 65px;

    vertical-align: middle;
    text-align: center;
}

.greeting p,
.news p{
    font-size: 22px;
    line-height: 36px;
    text-indent: 20px;
}

.greeting p{
    margin-left: 60px;
    margin-right: 60px;
}

.news{
    background-color: #feffff;
    opacity: 0.55;
    border-top: 11px solid #000;
    border-bottom: 11px solid #000;

    flex-basis:525px;

    margin-left: 10px;

    position: relative;
}

.news h3{
    font-size: 43px;
    line-height: 51px;
}

.main-footer{
    position: relative;
    margin-top: 45px;
}

.footer--fox{
    position: fixed;
    top: 76%;
    right: 25px;
}

.footer--enot{
    position: fixed;
    top: 76%;
    left: 25px;
}

section::after,
section::before{
    content: '';
    top: 0;
    width: 11px;
    height: 100%;
    position: absolute;
    background: black;
}

section::after{
    right: -10px
}
section::before{
    left: -10px;
}

/* Скролл бар */

@media screen and (max-width: 1500px){
    body{
        zoom: 0.65;
    }
}

@media screen and (min-width: 1900px){
    body{
        zoom: 0.8;
    }
}